{% extends "@Recruitment/Default/indexpro.html.twig" %}
{% block container %}
    <div class="col-lg-12">
        <h1 class="page-header">Professional Forms</h1>
    </div>
    {{ form(form) }}

{% endblock %}